.drawer {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(var(--color-foreground), 0.5);
  transition: visibility var(--duration-default) ease;
}

.drawer.active {
  visibility: visible;
}

.drawer__inner {
  height: 100%;
  width: 100%;
  max-width: 500px;
  background-color: rgb(var(--color-background));
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform var(--duration-default) ease;
}


@media screen and (min-width: 750px) {
  .drawer__inner {
    height: 100%;
    width: 500px;
    min-width: 500px;
  }
}

.drawer__inner-empty {
  height: 100%;
  padding: 0 1.5rem;
  background-color: rgb(var(--color-background));
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 749px) {
  .drawer__inner-empty {
    width: 100vw;
  }
}

.cart-drawer__warnings {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

cart-drawer.is-empty .drawer__inner {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 0;
}

cart-drawer.is-empty .drawer__header {
  display: none;
}

cart-drawer:not(.is-empty) .cart-drawer__warnings,
cart-drawer:not(.is-empty) .cart-drawer__collection {
  display: none;
}

.cart-drawer__warnings--has-collection .cart__login-title {
  margin-top: 2.5rem;
}

.drawer.active .drawer__inner {
  transform: translateX(0);
}

.drawer__header {
  position: relative;
  padding: 0 1.5rem;
}
.drawer__headerinner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid #ddd;
}
}

.drawer__heading {
  margin: 0 0 1rem;
}

.drawer__close {
  display: inline-block;
  padding: 0;
  min-width: 4.4rem;
  min-height: 4.4rem;
  box-shadow: 0 0 0 0.2rem rgba(var(--color-button), 0);
  position: absolute;
  top: 10px;
  right: -10px;
  color: rgb(var(--color-foreground));
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-drawer__warnings .drawer__close {
  right: 5px;
}

.drawer__close svg {
  height: 2.4rem;
  width: 2.4rem;
}

.drawer__contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.drawer__footer {
  background-color: #fff;
  width: 100%;
  box-shadow: 0 2px 20px #0000001a;
  list-style: none;
  margin: 0;
  padding: 10px 25px;
}

cart-drawer-items.is-empty + .drawer__footer {
  display: none;
}

.drawer__footer > details {
  margin-top: -1.5rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
}

.drawer__footer > details[open] {
  padding-bottom: 1.5rem;
}

.drawer__footer summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.5rem 0;
}

.drawer__footer > details + .cart-drawer__footer {
  padding-top: 1.5rem;
}

cart-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.cart-drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cart-drawer__overlay:empty {
  display: block;
}

.cart-drawer__form {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.cart-drawer__collection {
  margin: 0 2.5rem 1.5rem;
}

.cart-drawer .drawer__cart-items-wrapper {
  flex-grow: 1;
}

.cart-drawer .cart-items,
.cart-drawer tbody {
  display: block;
  width: 100%;
}

.cart-drawer thead {
  display: inline-table;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgb(var(--color-background));
}

cart-drawer-items {
  background-color: #fafafa;
  padding: 1em 1.5em;
  overflow: auto;
  flex: 1;
}

@media screen and (max-height: 650px) {
  cart-drawer-items {
    overflow: scroll;
  }
}

.cart-drawer .cart-item {
  display: grid;
  grid-template: repeat(2, auto) / repeat(4, 1fr);
  gap: 1.1rem;
  row-gap: 0;
  margin-bottom: 0;
}

.cart-drawer .cart-item {
  margin-bottom: 1.8rem;
}

.cart-drawer .cart-item__media {
  grid-row: 1 / 3;
  width: 100px;
}

.cart-drawer .cart-item__media img {
  border-radius: 20px;
}

.cart-drawer .cart-item__image {
  max-width: 100%;
}

.cart-drawer .cart-items thead {
  margin-bottom: 0.5rem;
}

.cart-drawer .cart-items thead th:first-child,
.cart-drawer .cart-items thead th:last-child {
  width: 0;
  padding: 0;
}

.cart-drawer .cart-items thead th:nth-child(2) {
  width: 50%;
  padding-left: 0;
}

.cart-drawer .cart-items thead tr {
  display: table-row;
  margin-bottom: 0;
}

.cart-drawer .cart-items th {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart-drawer .cart-item .loading-overlay {
  right: 5px;
  padding-top: 2.5rem;
}

.cart-drawer .cart-items td {
  padding-bottom: 1rem;
}

.cart-drawer .cart-item__details {
  width: auto;
  grid-column: 2 / 4;
}

.cart-drawer .cart-item__totals {
  pointer-events: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.cart-drawer.cart-drawer .cart-item__price-wrapper > *:only-child {
  margin-top: 0;
}

.cart-drawer .cart-item__price-wrapper .cart-item__discounted-prices {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.cart-drawer .unit-price {
  margin-top: 0.6rem;
}

.cart-drawer .cart-items .cart-item__quantity {
  padding-top: 0;
  grid-column: 2 / 5;
}

@media screen and (max-width: 749px) {
  .cart-drawer .cart-item cart-remove-button {
    margin-left: 0;
  }
}

.cart-drawer__footer > * + * {
  margin-top: 0.5rem;
}

.cart-drawer .totals {
  justify-content: space-between;
}

.cart-drawer .price {
  line-height: 1;
}

.cart-drawer .tax-note {
  margin: 1.2rem 0 1rem auto;
  text-align: left;
}

.cart-drawer .product-option dd {
  word-break: break-word;
}

.cart-drawer details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.cart-drawer .cart__checkout-button {
  max-width: none;
}

.drawer__footer .cart__dynamic-checkout-buttons {
  max-width: 100%;
}

.drawer__footer #dynamic-checkout-cart ul {
  flex-wrap: wrap !important;
  flex-direction: row !important;
  margin: 0.5rem -0.5rem 0 0 !important;
  gap: 0.5rem;
}

.drawer__footer [data-shopify-buttoncontainer] {
  justify-content: flex-start;
}

.drawer__footer #dynamic-checkout-cart ul > li {
  flex-basis: calc(50% - 0.5rem) !important;
  margin: 0 !important;
}

.drawer__footer #dynamic-checkout-cart ul > li:only-child {
  flex-basis: 100% !important;
  margin-right: 0.5rem !important;
}

@media screen and (min-width: 750px) {
  .drawer__footer #dynamic-checkout-cart ul > li {
    flex-basis: calc(100% / 3 - 0.5rem) !important;
    margin: 0 !important;
  }

  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2) ~ li,
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4) ~ li {
    flex-basis: calc(50% - 0.5rem) !important;
  }
}

cart-drawer-items::-webkit-scrollbar {
  width: 3px;
}

cart-drawer-items::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-foreground), 0.7);
  border-radius: 100px;
}

cart-drawer-items::-webkit-scrollbar-track-piece {
  margin-top: 31px;
}

.cart-drawer .quantity-popover-container {
  padding: 0;
}

.cart-drawer .quantity-popover__info.global-settings-popup {
  transform: translateY(0);
  right: 0;
}

.cart-drawer .cart-item__error {
  margin-top: 0.8rem;
}

.cart-drawer .quantity-popover__info + .cart-item__error {
  margin-top: 0.2rem;
}

@media screen and (min-width: 750px) {
  .cart-drawer .cart-item__quantity--info quantity-popover > * {
    padding-left: 0;
  }

  .cart-drawer .cart-item__error {
    margin-left: 0;
  }
}




.cart-drawer .drawer__header .drawer__heading svg.icon.icon-cart {
  width: 30px;
  height: 30px;
}

.cart-drawer .drawer__header .drawer__heading {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.cart-drawer .drawer__close {
  min-width: 1.5rem;
  min-height: 1.5rem;
  top: 23px;
  right: 15px;
}
.cart-drawer .drawer__close svg {
  height: 1.5rem;
  width: 1.5rem;
}
.cart-drawer quantity-popover .quantity{
  background: transparent;
  width: 115px;
  min-height: 40px;
}
@media screen and (min-width: 750px) {
  .cart-drawer quantity-input.quantity.cart-quantity:hover {
    background: #2e2939;
    border-radius: 50px;
  }
  .cart-drawer quantity-input.quantity.cart-quantity:hover input.quantity__input{
    color: white !important;
  }
}
.cart-drawer .quantity:after {
  display: none;
}
.cart-drawer button.quantity__button{
  width: 40px;
  height: 40px;
  font-size: 20px;
  background-color: #2e2939 !important;
  color: white;
  border-radius: 50%;
}
.cart-drawer input.quantity__input{
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  color: black;
  pointer-events: none;
}
.cart-drawer .cart-item__quantity-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-drawer .cart-item__totals .price{
  color: #aa9add;
  font-size: 16.5px;
  font-weight: 600;
}
.cart-drawer .cart-item__discounted-prices .cart-item__old-price{
  color: rgba(46,42,57,.75) !important;
}
.cart-drawer cart-remove-button .button {
  min-width: 1.5rem;
  min-height: 1.5rem;
  padding: 0;
  margin: 0;
}
.cart-drawer .cart-item__remove.right{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.cart-drawer button.cart__checkout-button {
  width: 100%;
  max-width: 100%;
  background: #7069bc;
  color: #fff;
  border: 1px solid #7069bc;
  padding: 0 20px;
  text-align: center;
  cursor: pointer;
  min-height: 65px;
  height: 40px;
  line-height: 1.2;
  vertical-align: top;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0;
  justify-content: center;
  transition: all .2s linear;
  font-weight: 700;
  margin-bottom: 5px;
  border-radius: 11px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.addon_section{
  margin-top: -2rem !important;
}
.cart-drawer .cart_addon_outer {
  max-width: 700px;
  width: 100%;
  position: relative;
  margin-top: 10px;
  padding: 0;
}
.cart-drawer .cart_addon_header h3 {
  text-align: center;
  font-weight: 700;
  font-size: 23px;
  text-transform: initial;
  padding: 4px;
  letter-spacing: 0px;
  margin-bottom: 10px;
}
.cart-drawer .AddonItem__Row .CartItem {
  padding: 11px;
  background-color: #fff;
  box-shadow: #00000029 0 0 0.375rem;
  align-items: flex-start;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  min-width: 330px;
}
.cart-drawer .AddonItem__Row .CartItem .CartItem__ImageWrapper {
  padding-right: 0;
  max-width: 100%;
  margin-bottom: 0;
  width: 40%;
}
.cart-drawer .AddonItem__Row .cart_image {
  max-width: 90%;
  height: 100px;
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}
.cart-drawer .addon_section .main_cartitem_price {
  width: 60%;
  text-align: center;
}
.cart-drawer .CartItem__Info h2.CartItem__Title.Heading {
  margin: 0;
}
.cart-drawer .AddonItem__Row .CartItem__Info a.link_pro {
  color: #551A8B;
  font-size: 15px;
  margin-bottom: 3px;
  font-weight: 700;
  text-decoration: none;
  display: block;
}
.cart-drawer .AddonItem__Row .CartItem__Info__main .CartItem__Info .cartItem__desc {
  font-size: 11px;
  line-height: 15px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.cart-drawer .AddonItem__Row .CartItem__Info__main .CartItem__Info .cartItem__desc p{
  margin: 0;
}
.cart-drawer .CartItem__Actions .addon_atc {
  width: 54px;
  text-transform: initial;
  border: 1px solid;
  color: #fff;
  position: relative;
  font-weight: 700;
  padding: 7px 20px;
  font-size: 12px;
  line-height: initial;
  height: 27px;
  border-radius: 27px;
  text-align: center;
  text-decoration: none;
  cursor: pointer !important;
}
.cart-drawer .AddonItem__Row span.CartItem__Price.Price {
  font-size: 14px !important;
  color: #fff;
  font-weight: 600;
}
.cart-drawer .addon_section .CartItem.cart_item span.CartItem__compareprice {
  color: #aa9add;
  position: relative;
  font-size: 14px;
}
.cart-drawer .addon_section .CartItem.cart_item span.CartItem__compareprice:before {
  content: "";
  display: block;
  border-top: 2px solid;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 9px;
  transform: rotate(-15deg);
  width: 100%;
}

.cart-drawer div.drawer__subtitle {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-top: 7px;
}
.cart-drawer .cart-shipping__wrapper {
  padding: 15px 0 0;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}
.cart-shippingThreshold__bar {
  position: relative;
  background-color: #FAFAFA;
  border-radius: 20px;
}
.cart-shipping__success {
  margin-top: 10px;
  text-transform: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6em;
  margin-bottom: 15px !important;
  color: #2e2a39;
  text-align: center;
}
.cart-shippingThreshold__progress {
  max-width: 100%;
  display: block;
  min-height: 10px;
  border-radius: 10px;
  height: 100%;
  background-image: linear-gradient(45deg,rgba(255,255,255,.4) 25%,transparent 0,transparent 50%,rgba(255,255,255,.4) 0,rgba(255,255,255,.4) 75%,transparent 0,transparent);
  background-size: 1rem 1rem;
  animation: slide 4s linear infinite;
  position: relative;
}
@keyframes slide {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 113px;
  }
}
.cart-shippingThreshold__bar span.cart-shippingThreshold__progress:before {
  content: "\f0d1";
  position: absolute;
  font: 24px/1 FontAwesome;
  right: 0;
  transform: scaleX(-1);
  top: -12px;
  border: 2px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  background-color: #fff;
}